{% extends 'base.html.twig' %}


{% block body %}



          <a href="{{ path('adddevis') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>

<div class="row">
<div  style="display: flex;align-items: center;justify-content: center;margin-top: 80px; padding:45px;  ">
<div class="card">
          <a href="{{ path('adddevis') }}"><i class="ri-arrow-left-circle-fill" style="display: flex; align-items: center; justify-content: center;font-size: 50px;"></i></a>
            <div class="card-body">
              <table class="table table-striped">

                                 {% for devis in b %} 

    <tr>
   <th>id</th>
   <td>{{devis.getId()}}</td>
    </tr>
   
           <tr>
   <th>setMontantMax</th>
   <td>{{devis.getMontantMax()}}</td>
       </tr>
    <tr>
   <th>setMontantMin</th>
   <td>{{devis.getMontantMin()}}</td>
       </tr>
    <tr>
   <th>id_rapport</th>
   <td>{{devis.getRapport()}}</td>
       </tr>
 

  <td class="hidden-column">
 <a class="btn btn-warning" href="{{ path('modifierdevis',{'id':devis.getId()})}}"><img src="{{ asset('assets/img/update.png') }}" height="35" width="35"></a>
</td>
<td class="hidden-column">
 <a class="btn btn-danger"href="{{ path('supprimerdevis',{'id':devis.getId()})}}"onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette Rapport ?')"><img src="{{ asset('assets/img/delete.png') }}" height="30" width="30"></a>
</td>

            
{% endfor %} 
</table>
</div> 
</div>
</div>
</div>
</div>
{% endblock %}
