{% extends 'basebackreclamation.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block list %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th scope="col">Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th scope="col">Objet</th>
                <td>{{ reclamation.objet }}</td>
            </tr>
            <tr>
                <th scope="col">Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th scope="col">DateReclamation</th>
                <td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th scope="col">DateTraitement</th>
                <td>{{ reclamation.dateTraitement ? reclamation.dateTraitement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th scope="col"> Etat</th>
                <td>{{ reclamation.etat }}</td>
            </tr>
        <tr>
                <th scope="col">Les réponses</th>

             {% for reponse in reponses %}
            <tr>
               <td>{{ reponse.objet}}</td>
               <td>{{ reponse.description }}</td>
                <td>{{ reponse.datereponse ? reponse.datereponse|date('Y-m-d') : '' }}</td>
                <td>  <a href="{{ path('app_reponse_edit', {'id': reponse.id })}}"><img src="{{ asset('assets/img/refresh.png') }}" height="30" width="30"></a></td></td>
                <td>  {{ include('reponse/_delete_form.html.twig') }}</td>

            </tr>
            {% else %}

                <tr>
                    <th>Aucune réponse ajoutée</th>

                </tr>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_index') }}"><img src="{{ asset('assets/img/undo.png') }}" height="30" width="30"></a>



    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
