{% extends 'base.html.twig' %}


{% block body %}

          <a href="{{ path('addrapport') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>

<div class="row">
 <div  style="display: flex;align-items: center;justify-content: center;margin-top: 40px; margin-left:400px;padding:5px; width:1000px;">
            
<i class="i-"></i>
              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
               
                                 {% for rapport in b %} 

    <tr>
   <th>num_rapport</th>
   <td>{{rapport.getId()}}</td>
    </tr>
    <tr>

   <th>date_rapport</th>
   <td>{{ rapport.getDateRapport|date('Y-m-d') }}</td>
       </tr>
           <tr>
   <th>num_serievoiture</th>
   <td>{{rapport.getNumSerievoiture()}}</td>
       </tr>
    <tr>
   <th>modele_voiture</th>
   <td>{{rapport.getModeleVoiture()}}</td>
       </tr>
    <tr>
   <th>matricule</th>
   <td>{{rapport.getMatricule()}}</td>
       </tr>
    <tr>

<th>couleur_voiture</th>
<td>{{rapport.getCouleurVoiture()}}</td>
    </tr>
    <tr>
   <th>dateMiseEnCirculation</th>
   <td>{{ rapport.getDateMiseEnCirculation|date('Y-m-d') }}</td>

       </tr>
    <tr>
<th> mandant</th>    
<td>{{rapport.getMandant()}}</td>
</tr>
  
    <tr>

   <th> conclusions</th>
   <td class="hidden-column">{{rapport.getConclusions()}}</td>
       </tr>
    <tr>
<th>photo</th> 
<td>
            {% if rapport.file is defined and rapport.file %}
                <a href="{{ asset('uploads/files/' ~ rapport.file) }}" target="_blank">
                    <button type="button" class="btn btn-warning">{{ rapport.file }}</button>
                </a>
            {% else %}
                Aucun fichier
            {% endif %}
        </td> 
        </tr>
        <tr>
   <th> montant_exprime</th>
   <td class="hidden-column">{{rapport.getMontantExprime()}}</td>
       </tr>
    <tr>
<th> etat_rapport</th>
   {% if rapport. getEtatRapport()=='Traitée'  %}
                    <td><img src="{{ asset('assets/img/check.png') }}" height="40" width="40"></td>
                {% elseif rapport. getEtatRapport()=='En attente' %}
                    <td><img src="{{ asset('assets/img/wait.png') }}" height="50" width="50"></td>
                {% else %}
                    <td><img src="{{ asset('assets/img/loading.png') }}" height="40" width="40"></td>
                {% endif %}
    </tr>
        <tr>

   <th>id_expert </th> 
<td class="hidden-column">{{rapport.getIdExpert()}}</td> 
       </tr>
  
             



<td class="hidden-column">
 <a class="btn btn-warning" href="{{ path('modifierrapport',{'id':rapport.getId()})}}"><img src="{{ asset('assets/img/update.png') }}" height="35" width="35"></a>
</td>
<td class="hidden-column">
 <a class="btn btn-danger"href="{{ path('supprimerrapport',{'id':rapport.getId()})}}"onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette Rapport ?')"><img src="{{ asset('assets/img/delete.png') }}" height="30" width="30"></a>
</td>
</tr>
{% endfor %}
                  
                 
                </tbody>
              </table>
             

           

 </div>
</div>
{% endblock %}
