{% extends 'base.html.twig' %}


{% block body %}

          <a href="{{ path('addrapport') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>

<div class="row">
 <div  style="display: flex;align-items: center;justify-content: center;margin-top: 40px; margin-left:400px;padding:5px; width:1000px;">
            
<i class="i-"></i>
              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
               
                                 {% for rapport in b %} 

    <tr>
   <th>num_rapport</th>
   <td>{{rapport.getNumRapport()}}</td>
    </tr>
    <tr>

   <th>date_rapport</th>
   <td>{{ rapport.getDateRapport|date('Y-m-d') }}</td>
       </tr>
           <tr>
   <th>num_serievoiture</th>
   <td>{{rapport.getNumSerievoiture()}}</td>
       </tr>
    <tr>
   <th>modele_voiture</th>
   <td>{{rapport.getModeleVoiture()}}</td>
       </tr>
    <tr>
   <th>matricule</th>
   <td>{{rapport.getMatricule()}}</td>
       </tr>
    <tr>

<th>couleur_voiture</th>
<td>{{rapport.getCouleurVoiture()}}</td>
    </tr>
    <tr>
   <th>dateMiseEnCirculation</th>
   <td>{{ rapport.getDateMiseEnCirculation|date('Y-m-d') }}</td>

       </tr>
    <tr>
<th> mandant</th>    
<td>{{rapport.getMandant()}}</td>
</tr>
    <tr>

   <th>photo_accident </th>
   <td>{{rapport.getPhotoAccident()}}</td>
       </tr>
    <tr>

   <th> conclusions</th>
   <td class="hidden-column">{{rapport.getConclusions()}}</td>
       </tr>
    <tr>

   <th> montant_exprime</th>
   <td class="hidden-column">{{rapport.getMontantExprime()}}</td>
       </tr>
    <tr>
<th> etat_rapport</th>
<td class="hidden-column">{{rapport.getEtatRapport()}}</td>
    </tr>
        <tr>

   <th>id_expert </th> 
<td class="hidden-column">{{rapport.getIdExpert()}}</td> 
       </tr>
  
              

<td class="hidden-column">
 <a class="btn btn-warning" href="{{ path('modifierrapport',{'num_rapport':rapport.getNumRapport()})}}">modifier</a>
</td>
<td class="hidden-column">
 <a class="btn btn-danger"href="{{ path('supprimerrapport',{'num_rapport':rapport.getNumRapport()})}}">supprimer</a>
</td>
</tr>
{% endfor %}
                  
                 
                </tbody>
              </table>
             

           

 
</div>
{% endblock %}
