{% extends 'basebackconstat.html.twig' %}
{% block title %}
<title>Gestion des Constats</title>
{% endblock %}
{% block list %}
    <h1>Liste des Constats</h1>

    <table class="table" id="t">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Client</th>
                <th scope="col">Email</th>
                <th scope="col">Dateaccident</th>
                <th scope="col">Lieu</th>
                <th scope="col">Dateconstat</th>
                <th scope="col">Imageaccident</th>
                <th scope="col">Etat</th>
                <th scope="col">actions</th>

            </tr>
        </thead>
        <tbody id="all">
        {% for constat in constats %}
            <tr>
                <td>{{ constat.id }}</td>
                <td>{{ constat.user.lastname }}</td>
                <td>{{ constat.user.email }}</td>
                <td>{{ constat.dateaccident ? constat.dateaccident|date('Y-m-d') : '' }}</td>
                <td>{{ constat.lieu }}</td>
                <td>{{ constat.dateconstat ? constat.dateconstat|date('Y-m-d') : '' }}</td>
                <td><img src="{{vich_uploader_asset(constat,'imageFile') }}" width="80" height="80"></td>{# image display #}
                {% if constat.etat=='Traitée'  %}
                    <td><img src="{{ asset('assets/img/check.png') }}" height="40" width="40"></td>
                {% elseif constat.etat=='En cours de traitement' %}
                    <td><img src="{{ asset('assets/img/travail-en-cours.png') }}" height="40" width="40"></td>
                {% else %}
                    <td><img src="{{ asset('assets/img/attention.png') }}" height="40" width="40"></td>
                {% endif %}

                <td>
                    <a href="{{ path('app_constat_show', {'id': constat.id}) }}"><img src="{{ asset('assets/img/detail.png') }}" height="30" width="30"></a>
                    {% if constat.etat=='Traitée'  %}
                        <a href="{{ path('app_constat_edit', {'id': constat.id}) }}" onclick="return false;"><img src="{{ asset('assets/img/refresh.png') }}" height="30" width="30"></a>
                    {% else %}
                        <a href="{{ path('app_constat_edit', {'id': constat.id}) }}"><img src="{{ asset('assets/img/refresh.png') }}" height="30" width="30"></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun Constat</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="search">
        </tbody>

    </table>
    <div >

        {{ knp_pagination_render(constats) }}

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */

                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('searchconstat') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'search' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();

                                $('#t tbody#search').append('<tr><td> '+obj.id+'</td><td>'+obj.dateaccident+'</td><td>'+obj.lieu+'</td><td>'+obj.dateconstat+'</td><td>'+obj.imageaccident+'</td><td>'+obj.etat+'</td><td><a href="/constat/'+obj.id+'/edit">Modifier</a></td></tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>

{% endblock %}
