<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AssurTout</title>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="{{asset('assetsfront/css/style-starter.css')}}">
    <!-- Favicons -->
    <link href="{{asset('assets/img/favicon.png')}}" rel="icon">
    <link href="{{asset('assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
</head>
{% block body %}
    <body>
    <!--header-->
    <section class="w3l-bootstrap-header">
        <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
            <div class="container">
                <a class="navbar-brand" href="index.html"><!-- <span class="fa fa-gg">--></span> AssurTout</a>
                <!-- if logo is image enable this
              <a class="navbar-brand" href="#index.html">
                  <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
              </a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa fa-bars"></span>
                </button>

                <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_reclamation_new') }}">Contact</a>
                        </li>

                    </ul>
                    <!--search-->
                    <form action="search-results.html" class="form-inline position-relative my-2 my-lg-0">
                        <input class="form-control search" type="search" placeholder="Search here..." aria-label="Search" required="">
                        <button class="btn btn-search position-absolute" type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
                    <nav class="header-nav ms-auto">
                        <ul class="d-flex align-items-center">
                            <li class="nav-item dropdown pe-3">

                                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                                    <img src="{{ asset('assets/img/profile-img.jpg') }}" alt="Profile" class="rounded-circle">
                                    <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                                </a><!-- End Profile Iamge Icon -->

                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                    <li class="dropdown-header">
                                        <h6>Kevin Anderson</h6>
                                        <span>Web Designer</span>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html.twig">
                                            <i class="bi bi-person"></i>
                                            <span>Mon profil</span>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html.twig">
                                            <i class="bi bi-gear"></i>
                                            <span>Account Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="{{ path('app_reclamation_indexfront') }}">
                                            <i class="bi bi-question-circle"></i>
                                            <span>Mes réclamations</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="{{ path('app_reclamation_indexfront') }}">
                                            <i class="bi bi-question-circle"></i>
                                            <span>Mes constats</span>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <i class="bi bi-box-arrow-right"></i>
                                            <span>Sign Out</span>
                                        </a>
                                    </li>

                                </ul>
                                <!-- End Profile Dropdown Items -->
                            </li>
                        </ul>
                    </nav><!-- End Profile Nav -->
                    <!--end search-->
            </div>
            </div>
        </nav>
    </section>
    <!--end header-->
    {% block Service %}
        <section class="w3l-main-slider" id="home">
            <!-- main-slider -->
            <div class="companies20-content">

                <div class="owl-one owl-carousel owl-theme">
                    <div class="item">
                        <li>
                            <div class="slider-info banner-view bg bg2" data-selector=".bg.bg2">
                                <div class="banner-info">
                                    <div class="container">
                                        <div class="banner-info-bg mr-auto">
                                            <h5>Votre sécurité, notre priorité</h5>
                                            <p>Protégez votre avenir avec une assurance fiable et adaptée à vos besoins.</p>
                                            <a class="btn btn-secondary btn-theme2 mt-5" href="services.html"> Nos Services</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="item">
                        <li>
                            <div class="slider-info  banner-view banner-top1 bg bg2" data-selector=".bg.bg2">
                                <div class="banner-info">
                                    <div class="container">
                                        <div class="banner-info-bg mx-auto text-center">
                                            <h5>Sécurité, fiabilité, notre assurance automobile</h5>
                                            <p>Protégez votre avenir avec une assurance fiable et adaptée à vos besoins.</p>
                                            <a class="btn btn-secondary btn-theme2 mt-5" href="{{ path('app_reclamation_new') }}">Nous Contactez</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="item">
                        <li>
                            <div class="slider-info banner-view banner-top2 bg bg2" data-selector=".bg.bg2">
                                <div class="banner-info">
                                    <div class="container">
                                        <div class="banner-info-bg ml-auto text-right">
                                            <h5>Protection sur roues, assurance sur nous</h5>
                                            <p>Protégez votre avenir avec une assurance fiable et adaptée à vos besoins.</p>
                                            <a class="btn btn-secondary btn-theme2 mt-5" href="about.html">Qui sommes-Nous?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>

                </div>
            </div>

            </div>


            <script src="{{asset('assetsfront/js/owl.carousel.js')}}"></script>
            <!-- script for -->
            <script>
                $(document).ready(function () {
                    $('.owl-one').owlCarousel({
                        loop: true,
                        margin: 0,
                        nav: false,
                        responsiveClass: true,
                        autoplay: false,
                        autoplayTimeout: 5000,
                        autoplaySpeed: 1000,
                        autoplayHoverPause: false,
                        responsive: {
                            0: {
                                items: 1,
                                nav: false
                            },
                            480: {
                                items: 1,
                                nav: false
                            },
                            667: {
                                items: 1,
                                nav: true
                            },
                            1000: {
                                items: 1,
                                nav: true
                            }
                        }
                    })
                })
            </script>
            <!-- //script -->
            <!-- /main-slider -->
        </section>
    {% endblock %}


    {% block formadd %}
        <h1>Mes Constats</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Dateaccident</th>
                <th scope="col">Lieu</th>
                <th scope="col">Dateconstat</th>
                <th scope="col">Imageaccident</th>
                <th scope="col">Etat</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for constat in constats %}
                <tr>
                    <td>{{ constat.id }}</td>
                    <td>{{ constat.dateaccident ? constat.dateaccident|date('Y-m-d') : '' }}</td>
                    <td>{{ constat.lieu }}</td>
                    <td>{{ constat.dateconstat ? constat.dateconstat|date('Y-m-d') : '' }}</td>
                    <td><img src="{{vich_uploader_asset(constat,'imageFile') }}" width="80" height="80"></td>{# image display #}
                    {% if constat.etat=='Traitée'  %}
                    <td><img src="{{ asset('assets/img/check.png') }}" height="40" width="40"></td>
                    {% elseif constat.etat=='En cours de traitement' %}
                        <td><img src="{{ asset('assets/img/travail-en-cours.png') }}" height="40" width="40"></td>
                        {% else %}
                            <td><img src="{{ asset('assets/img/attention.png') }}" height="40" width="40"></td>
                            {% endif %}
                    <td>
                        <a href="{{ path('app_constat_showfront', {'id': constat.id}) }}"><img src="{{ asset('assets/img/detail.png') }}" height="30" width="30"></a>
                        {% if (((constat.vehicules)|length) ==2) %}
                        <a href="{{ path('app_vehicule_new', {'id': constat.id}) }}" onclick="return false;"><img src="{{ asset('assets/img/car-crash.png') }}" height="30" width="30"></a>
                        {% elseif (((constat.vehicules)|length) ==1)%}
                        <a href="{{ path('app_vehicule_new2', {'id': constat.id}) }}"><img src="{{ asset('assets/img/car-crash.png') }}" height="30" width="30"></a>
                        {% elseif (((constat.vehicules)|length) ==0)%}
                        <a href="{{ path('app_vehicule_new', {'id': constat.id}) }}"><img src="{{ asset('assets/img/car-crash.png') }}" height="30" width="30"></a>
                        {% else %}
                            <a href="{{ path('app_vehicule_new', {'id': constat.id}) }}"><img src="{{ asset('assets/img/car-crash.png') }}" height="30" width="30"></a></td>
                            {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Aucun Constat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
    <section class="partners py-5" id="partners">
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">Our Partners</h3>
                <p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Nulla mollis dapibus nunc, ut rhoncus
                    turpis sodales quis. Integer sit amet mattis quam.</p>
            </div>
            <div class="inner-sec-w3ls pt-5 mt-3">
                <div class="sponsers-icon text-center">
                    <ul class="list-unstyled partners-icon row">
                        <li class="col-md-2 col-4">
                            <span class="fa fa-codepen" aria-hidden="true"></span>
                        </li>
                        <li class="col-md-2 col-4 border-left border-right">
                            <span class="fa fa-lastfm" aria-hidden="true"></span>
                        </li>
                        <li class="col-md-2 col-4 border-right">
                            <span class="fa fa-codiepie" aria-hidden="true"></span>
                        </li>
                        <li class="col-md-2 col-4 border-right mt-md-0 mt-3">
                            <span class="fa fa-drupal" aria-hidden="true"></span>
                        </li>
                        <li class="col-md-2 col-4 border-right mt-md-0 mt-3">
                            <span class="fa fa-dashcube" aria-hidden="true"></span>
                        </li>
                        <li class="col-md-2 col-4 mt-md-0 mt-3">
                            <span class="fa fa-skyatlas" aria-hidden="true"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29">
            <div class="container">
                <div class="d-grid grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h6 class="footer-title-29"><a href="index.html"><span class="fa fa-gg"></span> Corporite</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, Cras at nunc sagittis, suscipit dolor nunc sagittis sed do eiusmod tempor incididunt ut., consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>

                    </div>
                    <div class="footer-list-29 footer-2">
                        <ul>
                            <h6 class="footer-title-29">Categories</h6>
                            <li><a href="about.html">Our People </a></li>
                            <li><a href="#">Latest Media</a></li>
                            <li><a href="{{ path('app_reclamation_new') }}">Our Branches</a></li>

                            <li><a href="services.html">Organisations</a></li>
                            <li><a href="services.html">Help</a></li>

                        </ul>
                    </div>

                    <div class="footer-list-29 footer-3">


                        <h6 class="footer-title-29">Latest Posts</h6>
                        <ul class="list-unstyled d-flex flex-wrap">
                            <li class="">
                                <div class="row">
                                    <a class="col-md-5 col-4" href="#">
                                        <img class="rounded img-fluid img-responsive" src="{{asset('assetsfront/images/g4.jpg')}}" alt="image">
                                    </a>
                                    <div class="col pl-0">
                                        <a class="footer-small-text" href="#">Lorem ipsum dolor sit amet adipiscin elit</a>
                                        <div class="text-sub-small text-white mt-2">April 10th, 2020</div>
                                    </div>
                                </div>
                            </li>
                            <li class="mt-md-0 mt-2">
                                <div class="row my-2 my-md-3">
                                    <a class="col-md-5 col-4" href="#">
                                        <img class="rounded img-fluid img-responsive" src="{{asset('assetsfront/images/g5.jpg')}}" alt="image">
                                    </a>
                                    <div class="col pl-0">
                                        <a class="footer-small-text" href="#">Cras at nunc sagittis, suscipit dolor</a>
                                        <div class="text-sub-small text-white mt-2">April 2nd, 2020 </div>
                                    </div>
                                </div>
                            </li>
                        </ul>


                    </div>
                    <div class="footer-list-29 footer-4">
                        <ul>
                            <h6 class="footer-title-29">Quick Links</h6>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="#"> Blog</a></li>
                            <li><a href="{{ path('app_reclamation_new') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-grid grid-col-2 bottom-copies">
                    <p class="copy-footer-29">© 2020 Corporite. All rights reserved | Designed by <a
                                href="https://w3layouts.com">W3layouts</a></p>
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>
    <script src="{{asset('assetsfront/js/jquery-3.3.1.min.js')}}"></script>
    <!-- //footer-28 block -->
    </section>
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Template JavaScript -->
    <script src="{{asset('assetsfront/js/all.js')}}"></script>
    <!-- Smooth scrolling -->
    <!-- <script src="assetsfront/js/smoothscroll.js"></script> -->
    <script src="{{asset('assetsfront/js/owl.carousel.js')}}"></script>

    <!-- script for -->
    <script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //script -->
    </body>
    <script src="{{ asset('assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/chart.js/chart.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/quill/quill.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
{%endblock%}
</html>
<!-- // grids block 5 -->