{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 500px; margin-right:50px ;max-width: 800px; width: 50%; font: 25px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 10px 16px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.lastname }}! ✅</h1>

   
{# </div>
<h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>email</th>
                <th>roles</th>
                <th>Password</th>
                <th>lastname</th>
               
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.lastname }}</td>
                
                <td>
                    <a href="{{ path('app_auth_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_auth_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_auth_new') }}">Create new</a> #}
{% endblock %}
